
@media (min-width: 768px) and (max-width: 1024px) {
.card-area{
  margin-left: 0px;
  width: 100%;
}
.icon1 i {
    width: 8%;
    font-size: 36px;
}
.icon1 {
    margin-top: 37px;
}
.tab-desc button {
    width: 32%;
}
.section-3 .col-md-6{
  width: 100%;
}
.section-3{
  padding: 0px;
}
.section-3 .photo1 {
   text-align: center;
}

.section4 .col-md-6{
  width: 100%;
}
.section4 .col-md-6 .img1{
   text-align: center;
}
.iconlast{
  margin-left: 0px;
  width: 65px;
  height: 65px;
  line-height: 51px;
  margin: auto;
}
.part2 p{
      margin-left: 17px;
}
.pricing-menu {
    margin-top: 70px;
}

.pricing-menu .row {
    align-items: end;
}
.content4 button {
    width: 16%;
}

.down button {
    width: 24%;
    margin: auto;
     margin-top: 20px;
}
.card-para {
    display: table-cell;
    height: 70vh;
    vertical-align: middle;
}
.contact-body{
  text-align: center;
}
.down {
  margin-left: 0px;
}

}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.banner{
  height: 135vh;
}
.banner-text{
  height: 135vh;
}
.banner-text p{
  margin-bottom: 7px;
}
.banner-text h1{
  margin-bottom: 14px;
}
.line{
  margin-bottom: 14px;
}
.card-area{
  margin-left: 0px;
  width: 100%;
}
.icon1 i {
    width: 8%;
    font-size: 36px;
}
.icon1 {
    margin-top: 37px;
}
.tab-desc button {
    width: 32%;
}
.section-3 .col-md-6{
  width: 100%;
}
.section-3{
  padding: 0px;
}
.section-3 .photo1 {
   text-align: center;
}

.section4 .col-md-6{
  width: 100%;
}
.section4 .col-md-6 .img1{
   text-align: center;
}
.iconlast{
  margin-left: 0px;
  width: 65px;
  height: 65px;
  line-height: 51px;
  margin: auto;
}
.part2 p{
      margin-left: 17px;
}
.pricing-menu {
    margin-top: 70px;
}

.pricing-menu .row {
    align-items: end;
}
.content4 button {
    width: 16%;
}

.down button {
    width: 24% !important;
    margin: auto;
     margin-top: 20px;
}
.card-para {
    display: table-cell;
    height: 116vh;
    vertical-align: middle;
}
.contact-body{
  text-align: center;
}
.down {
  margin-left: 0px;
}

}

@media (min-width: 320px) and (max-width: 480px) {

.banner-text {
    width: 100%;
    text-align: center;
}
.banner-text h1 {
  width: 100%;
  font-size: 26px;
}
.line{
  margin: auto;
  margin-bottom: 10px;
}
.banner-text p {
    margin-bottom: 12px;
    width: 100%;
}
.banner-text button {
    width: 27%;
    margin-bottom: 8px;
}
.banner{
  height: 138vh;
}
.desc h4 {
  text-align: center;
}
.card-area {
  margin-top: 0px;
  margin-left: 0px;
  margin: auto;
}
.banner-text{
  height: 63vh;
}.desc {
    width: 100%;
    text-align: center;
}
.icon1 i {
    width: 5%;
    font-size: 28px;
}
.section2 ul li {
    display: inline-block;
}
.tab-desc {
    margin-left: 0px;
    text-align: center;
}
.tab-desc p {
    width: 100%;
}
.tab-desc button {
    width: 24%;
}
.tab-img{
  margin-top: 30px;
}
.section-3 {
    padding: 10px;
}
.photo1-desc{
  text-align: center;
}
.tomatoline{
  margin: auto;
  margin-bottom: 10px;
}
.photo1-desc p {
  width: 100%;
}
.icon1{
    margin: auto;
    letter-spacing: 29px ;
    margin-top: 0px ;
    margin-bottom: 10px ;
}
.icon-2{
  margin: auto;
  margin-bottom: 15px;
}
.img1-desc {
    text-align: center;
}
.img1-desc h4 {
    width: 100%;
}
.img1-desc p {
    width: 100%;
}
.iconlast {
  margin-left: 0px;
  margin: auto;
}
.part2 p{
  width: 100%;
  margin-left: 0px;
}
.text-price {
    margin-left: 0px;
}
.list-price {
    margin-left: 0px;
}
.list-price2 {
    margin-left: 0px;
    margin-right: 0px;
}
.text-price2 {
    margin-left: 13px;
}
ul {
    padding-left: 0px;
    text-align: center;
}
.text-price3 {
    margin-right: 0px;
    margin-left: 0px;
}
.list-price3 {
     margin-right: 0px; 
}
.pricing {
    padding: 28px 0px;
}
.extraline {
    width: 27%;
}
.message p {
    width: 100%;
}
.content4 button {
    width: 30%;
}
.down {
    margin-left: 0px;
}
.down button {
    width: 39% !important;
}
.icon-footer i {
    margin: 9px;
    font-size: 23px;
}

}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {

.banner-text h1 {
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
}
.line{
  margin-bottom: 15px;
  margin: auto;
}
.banner-text{
  text-align: center;
}
.banner-text p {
    font-size: 12px;
    margin-bottom: 15px;
    width: 100%;
}
.banner-text button {
    width: 16%;
    padding: 3px 0px;
}
.card-area {
     margin-top: 0px; 
     margin-left: 0px;
     margin: auto;
     width: 50%;
}
.banner{
  height: 200vh;
}
.desc {
    width: 100%;
    text-align: center;
}

.icon1 {
    margin-top: 10px;
    letter-spacing: 29px;
}
.icon1 i {
    width: 8%;
    font-size: 38px;
    margin-bottom: 10px;
}
.section2 ul li {
    display: inline-block;
}
.iconlast{
  margin:auto;
}
ul{
  text-align: center;
}
.content1, .content2, .content3{
  text-align: center;
}
.tab-desc  p{
  width: 100%;
}
.section-3 {
    padding: 20px;
}
.photo1-desc{
  text-align: center;
}
.tomatoline{
  margin:auto;
  margin-bottom: 15px;
}
.photo1-desc p{
  width: 100%;
}
.icon-1{
  margin-left: 0px;
  margin: auto;
}
.icon-2{
  margin-left: 0px;
  margin: auto;
  margin-bottom: 15px;
}
.section4{
  padding:20px 0px;
}
.img1-desc {
    margin-top: 5px;
    text-align: center;
}
.img1-desc h4{
  width: 100%;
}
.img1-desc p{
  width: 100%;
}
.pricing{
  padding: 20px 0px;
}
.extraline{
  width: 20%;
}
.text-price{
  margin-left: 0px;
}
.list-price{
  margin-left: 0px;
}
ul{
  padding: 0px;
}
.text-price2{
  margin-left: 0px;
  margin-right: 0px;
}
.list-price2{
  margin-left: 0px;
  margin-right: 0px;
}
.text-price3{
  margin-left: 0px;
  margin-right: 0px;
}
.list-price3{
  margin-left: 0px;
  margin-right: 0px;
}
.sticky{
  z-index: 999999;
}
.message p{
  width: 100%;
}
.para1 .para2 .para3{
  text-align: center;
}
.content4 button {
    width: 20%;
}
.down {
     margin-left: 0px; 
}
.down button {
    background-color: #ff9b51;
    width: 24% !important;
}



}